.hub-container {
  border-color: rgb(196, 27, 27) 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.form-container {
  border-color: rgb(58, 218, 58) 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.main-contaner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgb(87, 99, 100) ;

}
.search-button {
  height: 40px;
  width: 160px;
  margin-bottom: 35px;
  color: #fff;
}
.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder{
  color: #d3cccc;
}