.nav-main {
  padding-left: 40px;
  min-height: 70px;
  background-color: #1890ff;
}
.nav-logo-text {
  color: #fff;
}
.nav-name {
  padding-left: 41px;
padding-top: 18px;  
  height: 32px;
  width: 248px;
  left: 41px;
  top: 15px;
  border-radius: nullpx;
}
