.title-page {
  padding-top: 10px;
  padding-left: 41px;
  font-family: "Roboto";
  font-size: 35px;
  line-height: 64px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}
.h1 {
  position: absolute;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.caption-page {
  padding-top: 10px;
  padding-left: 41px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 40px;
  color: #7e7e7ea2;
}
.btn {
  padding-left: 41px;
  padding-top: 10px;
}
.inbtn {
  height: 27px;
  width: 90px;
  left: 59px;
  top: 228px;
  border-radius: nullpx;
  background-color: rgb(76, 55, 78);
  color: aliceblue;
}

.start-button {
  color: rgb(255, 255, 255);
}
